body{
    color: deeppink;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#header{
    background-color: #33A;
    color: white;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0 5px 40 px 0 rgba(0,0,0,0.75);
    font-weight: bold;
}

#container h1{
    font-size: 20px;
}